<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.graduation.renthouse.rent.tag.dao.TagHouseDao">
    <select id="list" resultType="com.graduation.renthouse.rent.tag.domain.TagHouse">
        select `id`,`tag_id`,`house_id` from tag_house
        <where>
            <if test="id!=null and id!=''" >and id =#{id}</if>
            <if test="tagId!=null and tagId!=''" >and tag_id =#{tagId}</if>
            <if test="houseId!=null and houseId!=''" >and house_id =#{houseId}</if>
        </where>
    </select>

    <delete id="batchRemove">
        delete from tag_house where id in
        <foreach item="id" index="index" collection="list"
                 open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="batchSave">
        INSERT INTO tag_house(tag_id,house_id) values
        <foreach item="item" index="index" collection="list"
                 separator=",">
            (#{item.tagId},#{item.houseId})
        </foreach>
    </insert>

    <select id="getTagsByHouseId" resultType="com.graduation.renthouse.rent.tag.domain.TagDO">
        select id,description,house_id from tag where id in(select tag_id from  tag_house where house_id=#{houseId})
    </select>

</mapper>