<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.graduation.renthouse.rent.tag.dao.TagDao">

	<select id="get" resultType="com.graduation.renthouse.rent.tag.domain.TagDO">
		select `id`,`description` from tag where id = #{value}
	</select>

	<select id="list" resultType="com.graduation.renthouse.rent.tag.domain.TagDO">
		select `id`,`description` from tag
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>

		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tag
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="houseId != null and houseId != ''"> and house_id = #{houseId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.graduation.renthouse.rent.tag.domain.TagDO" useGeneratedKeys="true" keyProperty="id">
		insert into tag
		(
			`description`

		)
		values
		(
			#{description}

		)
	</insert>
	 
	<update id="update" parameterType="com.graduation.renthouse.rent.tag.domain.TagDO">
		update tag 
		<set>
			<if test="description != null">`description` = #{description} </if>

		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from tag where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tag where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>