<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<head>
  <meta charset="UTF-8">
  <title>寻家网</title>

      <link rel="stylesheet" href="/css/login/css/style.css">

</head>
<body>
 <div class="left">
	<div class="log">
	</div>
	<div class="tu">
		<img ></img>
	</div>
 </div>  
<div class="form" id="form">
	
  <div class="field username">
    <div class="icon"></div>
    <input class="input" id="username" name="username" type="text" placeholder="Username" autocomplete="off"/>
  </div>
  <div class="field password">
    <div class="icon"></div>
    <input class="input" id="password" name="password" type="password" placeholder="Password"/>
  </div>
  <button class="button" id="submit">LOGIN
    <div class="side-top-bottom"></div>
    <div class="side-left-right"></div>
  </button>
    <div>
        <a id="reg" href="#" ><small>没有账号？| 注册</small></a>
        <span id="msg"></span>
    </div>

</div>
  <script src="/css/login/js/jquery.min.js"></script>
 <div th:include="include::footer"></div>

 <script  src="/css/login/js/index.js"></script>
</body>
</html>
