<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.graduation.renthouse.rent.insertlog.dao.InsertLogExDao">

    <select id="report" resultType="com.graduation.renthouse.rent.report.domain.WelcomeReport">
        select insert_type as type ,sum(id) num ,DATE_FORMAT(create_time,'%Y-%m-%d') as date from insert_log
        <where>
            <if test="start!=null and start !='' and end !=null and end!=''">and create_time between DATE_FORMAT(#{start},'%Y%m%d%h%i%s')and DATE_FORMAT(#{end},'%Y%m%d%h%i%s') </if>
        </where>
        group by insert_type,DATE_FORMAT(create_time,'%Y-%m-%d')
    </select>
</mapper>