<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${house.id}"  type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房屋标题：</label>
                            <div class="col-sm-8">
                                <input id="title" name="title" th:value="${house.title}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">大范围地址：</label>
                            <div class="col-sm-8">
                                <input id="largeAreas" name="largeAreas" th:value="${house.largeAreas}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">小范围地址：</label>
                            <div class="col-sm-8">
                                <input id="smallAreas" name="smallAreas" th:value="${house.smallAreas}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房屋平米数：</label>
                            <div class="col-sm-8">
                                <input id="squareMeter" name="squareMeter" th:value="${house.squareMeter}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房屋朝向：</label>
                            <div class="col-sm-8">
                                <input id="orientation" name="orientation" th:value="${house.orientation}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房屋类型：</label>
                            <div class="col-sm-8">
                                <input id="houseType" name="houseType" th:value="${house.houseType}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">发布时间：</label>
                            <div class="col-sm-8">
                                <input id="pubdate" name="pubdate" th:value="${house.pubdate}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">价格：</label>
                            <div class="col-sm-8">
                                <input id="price" name="price" th:value="${house.price}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房屋描述：</label>
                            <div class="col-sm-8">
                                <input id="description" name="description" th:value="${house.description}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">详细地址：</label>
                            <div class="col-sm-8">
                                <input id="address" name="address" th:value="${house.address}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">具体发布时间：</label>
                            <div class="col-sm-8">
                                <input id="addTime" name="addTime" th:value="${house.addTime}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房东id：</label>
                            <div class="col-sm-8">
                                <input id="landlordId" name="landlordId" th:value="${house.landlordId}" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">租客id：</label>
                            <div class="col-sm-8">
                                <input id="tenantId" name="tenantId" th:value="${house.tenantId}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否有电梯：</label>

                            <div class="col-sm-8">
                                <select class="form-control col-sm-8" id="elevator" name="elevator" >
                                    <option th:if="${house.elevator eq 1}" th:selected="selected" value="1">有</option>
                                    <option th:if="${house.elevator eq 0}" th:selected="selected" value="0">无</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否有电视：</label>
                            <div class="col-sm-8">
                                <select class="form-control col-sm-8" id="tv" name="tv" >
                                    <option th:if="${house.tv eq 1}" th:selected="selected" value="1">有</option>
                                    <option th:if="${house.tv eq 0}" th:selected="selected" value="0">无</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否有冰箱：</label>
                            <div class="col-sm-8">
                                <select class="form-control col-sm-8" id="fridge" name="fridge" >
                                    <option th:if="${house.fridge eq 1}" th:selected="selected" value="1">有</option>
                                    <option th:if="${house.fridge eq 0}" th:selected="selected" value="0">无</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否有空调：</label>
                            <div class="col-sm-8">
                                <select class="form-control col-sm-8" id="airConditioner" name="airConditioner" >
                                    <option th:if="${house.airConditioner eq 1}" th:selected="selected" value="1">有</option>
                                    <option th:if="${house.airConditioner eq 0}" th:selected="selected" value="0">无</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否有宽带：</label>
                            <div class="col-sm-8">
                                <select class="form-control col-sm-8" id="broadBand" name="broadBand" >
                                    <option th:if="${house.broadBand eq 1}" th:selected="selected" value="1">有</option>
                                    <option th:if="${house.broadBand eq 0}" th:selected="selected" value="0">无</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否有衣柜：</label>
                            <div class="col-sm-8">
                                <select class="form-control col-sm-8" id="wardrobe" name="wardrobe" >
                                    <option th:if="${house.wardrobe eq 1}" th:selected="selected" value="1">有</option>
                                    <option th:if="${house.wardrobe eq 0}" th:selected="selected" value="0">无</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">房租状态：</label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio"
                                           th:field="*{house.status}" name="status" value="0" /> 未出租
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"
                                           th:field="*{house.status}" name="status" value="1" /> 以出租
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"
                                           th:field="*{house.status}" name="status" value="2" /> 已预约
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/house/house/edit.js">
</script>
</body>
</html>
