<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<link rel="stylesheet" href="/js/appjs/house/layui/css/layui.css"  media="all">
<link rel="stylesheet" href="/css/home/showDetail.css?1=8">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=EKCxRTNHEZuP7hwRi3poxwziD2iFLAs0"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="house_content">
    <div class="top">
        <div>
              <a class="beike__nav--logo" ><img class="nav_img" src="/css/home/img/home-1.png"><span></span></a>
        </div>

    </div>
    <div class="middle">
        <div class="middle_top">
            <div class="middle_top_left">
                <div class="big_title1 big_title">
                    <h3 th:text="${house.title}"></h3>
                </div>
                <div class="title">
                    <div class="title_left">
                        <i class="font" th:text="'房源上架时间:'+${time}"></i>
                    </div>
                    <div class="title_right">
                        <i class="font" th:text="'房源编号:'+ ${house.id}"></i>
                    </div>
                </div>
                <div class="viewpager">
                    <div class="layui-carousel" id="test1">
                        <div carousel-item>
                            <div th:each="img :${imgs}">
                                <img th:src="${'/img/'+img.src}"  alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle_top_right">

                <div class="landlord">
                    <span th:text="'房东：'+${landlordName}"></span>
                    <button class="btn btn-default btn-sm" id="createOrder" style="background-color: white;color: black" > 订房</button>
                    <input type="hidden" id="houseId" th:value="${house.id}">
                </div>
                <div class="introduce_top">
                    <div class="top_price">
                        <span class="price" th:text="${house.price}"></span>元/月
                    </div>
                    <div class="top_tags">

                        <i th:each="tag : ${tags}" th:text="${tag.description}"></i>
                    </div>
                </div>
                <div class="introduce_bottom">
                    <div class="type house_type">
                        <div class="pic">
                            <img  class="pic_img " src="/css/home/img/house_type.png" alt="">
                        </div>
                        <div class="text">
                            <span class="nei" th:text="${house.houseType}"></span>
                        </div>
                    </div>
                    <div class="type square_meter">
                        <div class="pic">
                            <img  class="pic_img" src="/css/home/img/size.png" alt="">
                        </div>
                        <div class="text">
                            <span class="nei" th:text="${house.squareMeter}+'㎡'"></span>
                        </div>
                    </div>
                    <div class="type direction">
                        <div class="pic">
                            <img  class="pic_img" src="/css/home/img/direction.png" alt="">
                        </div>
                        <div class="text">
                            <span class="nei" th:text="${house.orientation}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle_middle">
            <div class="middle_middle_content" >
                <div class="big_title big_title2">
                    <h3>房屋信息</h3>
                </div>
                <div class="house_info ">
                    <div class="house_left inf">
                        <span>基本信息</span>
                    </div>
                    <div class="house_right">
                        <ul>
                            <li th:text="'发布：'+${pubdate}">发布：</li>
                            <li>入住：随时入住</li>
                            <li>看房：需要预约</li>
                            <li>用水：民水</li>
                            <li>用电：民电</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle_footer">
            <div class="middle_footer_content">
                <div class="house_config inf">
                    <div class="house_left inf">
                        <span>配套设施</span>
                    </div>
                    <div class="house_right">
                        <div class="config_content">
                            <div class="config_item">
                                <div class="item_top">
                                    <img src="/css/home/img/elevator.png" alt="">
                                </div>
                                <div class="item_bottom">
                                    <span class="elevator" th:attr="elevator=${house.elevator}">电梯</span>
                                </div>
                            </div>
                            <div class="config_item">
                                <div class="item_top">
                                    <img src="/css/home/img/tv.png" alt="">
                                </div>
                                <div class="item_bottom">
                                    <span class="tv" th:attr="tv=${house.tv}">电视</span>
                                </div>
                            </div>
                            <div class="config_item">
                                <div class="item_top">
                                    <img src="/css/home/img/frige.png" alt="">
                                </div>
                                <div class="item_bottom">
                                    <span class="fridge" th:attr="fridge=${house.fridge}">冰箱</span>
                                </div>
                            </div>
                            <div class="config_item">
                                <div class="item_top">
                                    <img src="/css/home/img/air.png" alt="">
                                </div>
                                <div class="item_bottom">
                                    <span class="airConditioner" th:attr="airConditioner=${house.airConditioner}">空调</span>
                                </div>
                            </div>
                            <div class="config_item">
                                <div class="item_top">
                                    <img src="/css/home/img/broadband.png" alt="">
                                </div>
                                <div class="item_bottom">
                                    <span class="broadBand" th:attr="broadBand=${house.broadBand}">宽带</span>
                                </div>
                            </div>
                            <div class="config_item">
                                <div class="item_top">
                                    <img src="/css/home/img/wardrobe.png" alt="">
                                </div>
                                <div class="item_bottom">
                                    <span class="wardrobe" th:attr="wardrobe=${house.wardrobe}">衣柜</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="big_title3 big_title">
            <h3>地址和交通</h3>
        </div>
        <div class="map_info">
            <input type="hidden" id="address" value="北京西站">
        </div>
        <div class="map" id="allmap"></div>
    </div>
</div>

<div th:include="include::footer"></div>
    <script src="/js/layui.js"></script>
<script src="/js/appjs/house/house/showDetail.js"></script>
<script src="/js/appjs/house/house/map.js"></script>
</div>
</body>
</html>