body {
    margin-left: 20px;
}
.browser__low {
    height: 100%;
    overflow: hidden;
}
.browser__low--wrapper,
.browser__low--inner {
    display: none;
}
.browser__low .browser__low--wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 199999;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: block;
}
.browser__low .browser__low--inner {
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 19999999;
    width: 360px;
    height: 100px;
    margin-top: -90px;
    margin-left: -200px;
    padding: 40px 20px;
    display: block;
}
.browser__low .browser__low--inner p {
    font-size: 20px;
    padding-bottom: 40px;
}
.browser__low .browser__low--inner a {
    display: inline-block;
    color: #fff;
    background: #2ab78e;
    padding: 10px 6px;
}