.addBorder{
    color:#00ae66!important;
    border-bottom:2px solid #00ae66!important
}
.removeBorder{
    color:#565656!important;
    border-bottom:0!important
}

.clickStyle{
    font-weight: 700!important;
    color:#00ae66!important;
}
.notClickStyle{
    color: #565656!important;
    font-weight: normal!important;
}

